#
# Development requirements
#

invoke==1.2.0
rituals==0.4.1
##-e git+https://github.com/jhermann/rituals.git#egg=rituals

Sphinx==1.8.5
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.1.9

pylint==1.9.5
bpython==0.18
yolk3k==0.9

tox==3.13.2
twine==1.13.0

-r test-requirements.txt
-r docs/requirements.txt
-e .
