#
# Test requirements
#

pytest==2.8.4
pytest-spec==0.2.24
pytest-cov==2.2.0
py>=1.4.29
coveralls==1.1
sh==1.11
responses==0.3.0
# https://github.com/jhermann/responses/archive/working-context-manager.zip#egg=responses

# requirements for `rituals.reamed`
bunch==1.0.1
click==3.3
configobj>=5
