#
# Test requirements
#

pytest==5.4.1
pytest-spec==2.0.0
pytest-cov==2.8.1
pytest-mock
mock==2.0.0 ; python_version == '2.7'
py>=1.4.29
coveralls==1.11.1
sh==1.12.14
responses==0.10.12
# https://github.com/jhermann/responses/archive/working-context-manager.zip#egg=responses

# requirements for `rituals.reamed`
munch==2.5.0
click==7.1.1
configobj>=5

# requirements for `security.Credentials`
keyring==21.2.0
##secretstorage ; sys_platform == 'linux2'
##dbus-python ; sys_platform == 'linux2'
